@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 95%);
}

.container-main {
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: 1;
    width: 750px;
    height: 400px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    
}

.container-sedan {
    border: 2px solid green;
    background-color: hsl(31, 77%, 52%);
   
}

.wrapper-sedan {
    border: 1px solid blue;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.container-suv {
    border: 2px solid blue;
    background-color: hsl(184, 100%, 22%);
}

.wrapper-suv {
    border: 1px solid red;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.container-luxury {
    border: 2px solid black;
    background-color: hsl(179, 100%, 13%);
}

.wrapper-luxury {
    border: 1px solid green;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-family: Big Shoulders Display, sans-serif;
    font-weight: 700;
    padding-top: 20px;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: Lexend Deca, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button-sedan {
    margin-top: 50px;
    color: hsl(31, 77%, 52%);
    background-color: hsl(0, 0%, 95%);
    font-family: Lexend Deca, sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 20px;

}

.button-suv {
    margin-top: 50px;
    color: hsl(184, 100%, 22%);
    background-color: hsl(0, 0%, 95%);
    font-family: Lexend Deca, sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 20px;

}

.button-luxury {
    margin-top: 50px;
    color: hsl(179, 100%, 13%);
    background-color: hsl(0, 0%, 95%);
    font-family: Lexend Deca, sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 20px;
  
}